# UN Data Exploration Project

1. Download two CSV files and place them in the data folder of your local
Data Question 1 repository:

a. Gross Domestic Product (GDP) per capita:
http://data.un.org/Data.aspx?d=WDI&f=Indicator_Code%3aNY
.GDP.PCAP.PP.KD
• DO NOT APPLY ANY FILTERS
• rename the file to gdp_per_capita.csv
• open it with a text editor (not Excel) and take a look

b. Percentage of Individuals using the Internet:
http://data.un.org/Data.aspx?d=ITU&f=ind1Code%3aI99H
• DO NOT APPLY ANY FILTERS
• rename the file to internet_use.csv
• open it with a text editor (not Excel) and take a look
## Done

2. Create a Jupyter Notebook in the notebooks folder and name it
UN_Data_Exploration.

• You are likely to get errors along the way. When you do, read the
errors to try to understand what is happening and how to correct it.
• Use markdown cells to record your answers to any questions asked
in this exercise. On the menu bar, you can toggle the cell type from
‘Code’ to ‘Markdown’. Here is a link to a cheat sheet showing the
basics of styling text using Markdown.

## Done

3. In the first cell of your notebook, import the required packages with their
customary aliases as follows:
    
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

import scipy.stats as stats

import statsmodels.api as sm

Keep all imports in this cell at the top of your notebook.

### Done

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline

5. Using the pandas read_csv() function, read the GDP dataset into your
notebook as a DataFrame called gdp_df.

• Take a look at the first 10 rows.

• Look at the last 5 rows. Do you see a problem?

• Redo the read_csv() call to correct this issue - do not modify the
original csv file.

### Done

In [7]:
gdp_df = pd.read_csv("../gdp_per_capita.csv")

In [8]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  1734.723214              NaN
1     Afghanistan  2017  1758.465636              NaN
2     Afghanistan  2016  1757.023490              NaN
3     Afghanistan  2015  1766.593077              NaN
4     Afghanistan  2014  1795.735834              NaN

In [18]:
gdp_df.sort_index(ascending=False)

,Country or Area,Year,Value,Value Footnotes
6728,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN
6727,footnoteSeqID,Footnote,NaN,NaN
6726,Zimbabwe,1992,2591.007534,NaN
6725,Zimbabwe,1993,2572.870395,NaN
6724,Zimbabwe,1994,2768.309953,NaN
...,...,...,...,...
4,Afghanistan,2014,1795.735834,NaN
3,Afghanistan,2015,1766.593077,NaN
2,Afghanistan,2016,1757.023490,NaN
1,Afghanistan,2017,1758.465636,NaN
0,Afghanistan,2018,1734.723214,NaN

In [21]:
gdp_df = pd.read_csv("../gdp_per_capita.csv", nrows=6727)

In [20]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  1734.723214              NaN
1     Afghanistan  2017  1758.465636              NaN
2     Afghanistan  2016  1757.023490              NaN
3     Afghanistan  2015  1766.593077              NaN
4     Afghanistan  2014  1795.735834              NaN

In [22]:
gdp_df.sort_index(ascending=False)

     Country or Area  Year        Value  Value Footnotes
6726        Zimbabwe  1992  2591.007534              NaN
6725        Zimbabwe  1993  2572.870395              NaN
6724        Zimbabwe  1994  2768.309953              NaN
6723        Zimbabwe  1995  2736.486436              NaN
6722        Zimbabwe  1996  2985.856605              NaN
...              ...   ...          ...              ...
4        Afghanistan  2014  1795.735834              NaN
3        Afghanistan  2015  1766.593077              NaN
2        Afghanistan  2016  1757.023490              NaN
1        Afghanistan  2017  1758.465636              NaN
0        Afghanistan  2018  1734.723214              NaN

[6727 rows x 4 columns]